#wrapper {
    padding-top: 2%;
}

#cards {
    position: relative; 
    text-align: center;
}

.card {
    display: inline-block; 
    font-size: 1.5vw;
    padding: 1.7%;
    margin: 0.05%;  
    color: white; 
    background-color: #288ec8; 
}

#legend-comment-wrapper {
    padding-top: 2%;
    height: 20vh;
}

.legend {
    float: left;
}

.red {
    background-color: #dc143c;
}

.comment-box {
    margin: auto;
}

.slidecontainer {
    padding-top: 0%;
    padding-bottom: 2%;
}

.input-box-container {
   text-align: center;
}

.buttons-wrapper {
    text-align: center;
    padding-top: 2%;
}

#question {
    font-size: 1.5vw;
    text-align: justify;
    padding-bottom: 2%;
}

#type {
    padding-top: 12%;
}

p,span {
    font-size: 1.5vw;
    text-align: center;
}
